html {
    background-color: #1a202c;
}

.my_body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1a202c; /* Głęboki odcień niebieskiego, tło ciemniejsze */
    color: #e2e8f0; /* Jasnoszary tekst */
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

header {
    background-color: #2d3748; /* Ciemniejszy odcień niebieskiego dla nagłówka */
    color: #e2e8f0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 24px;
    margin: 0;
}

h2 {
    font-size: 18px;
    align-items: center;
    align-content: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-left: 10px;
}

nav ul li:first-child {
    margin-left: 0;
}

main {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.expenses-table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.expenses-table th, .expenses-table td {
    padding: 15px 20px;
    border-bottom: 1px solid #4a5568; /* Ciemny szary dla linii oddzielających */
    text-align: left;
}

.expenses-table th {
    background-color: #2d3748;
    font-weight: bold;
    text-transform: uppercase;
    color: #e2e8f0;
}

@media (max-width: 600px) {
    h1 {
        font-size: 28px;
    }

    main {
        padding: 15px;
    }

    .expenses-table th, .expenses-table td {
        padding: 10px 15px;
    }
}

.header-btn {
    color: #e2e8f0;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #4a5568; /* Ciemny szary dla przycisków w nagłówku */
    transition: background-color 0.3s ease;
}

.header-btn:hover {
    background-color: #2d3748; /* Ciemniejszy odcień niebieskiego po najechaniu myszką */
}

.title {
    margin: 0;
}

.add-expense-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-expense-button:hover {
    background-color: #45a049;
}

#category-filter {
    padding: 8px 12px;
    font-size: 14px;
    border: 1px solid #4a5568;
    border-radius: 4px;
    background-color: #2d3748;
    transition: border-color 0.3s ease;
    color: #e2e8f0;
}

#category-filter:focus {
    outline: none;
    border-color: #6d28d9; /* Fioletowy */
}

#category-filter option {
    padding: 8px 12px;
    font-size: 14px;
    border-bottom: 1px solid #4a5568;
    background-color: #2d3748;
    color: #e2e8f0;
}

#category-filter option:last-child {
    border-bottom: none;
}

#category-filter:hover {
    cursor: pointer;
}

#periodicity-filter {
    padding: 8px 12px;
    font-size: 14px;
    border: 1px solid #4a5568;
    border-radius: 5px;
    background-color: #2d3748;
    transition: border-color 0.3s ease;
    color: #e2e8f0;
}

#periodicity-filter:hover {
    border-color: #6d28d9;
}

/* Styl dla options w selectcie filtra Okresowość */
#periodicity-filter option {
    padding: 8px 12px;
    font-size: 14px;
    background-color: #2d3748;
    color: #e2e8f0;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#periodicity-filter option:hover {
    background-color: #4a5568;
}

.charts-container {
    display: flex;
    overflow-x: auto;
}

.chart {
    flex: 0 0 auto;
    margin-right: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px; /* Dodano margines dolny */
}

.chart img {
    max-width: 100%;
    height: auto;
}
