<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dodaj wydatek</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="my_body">
    <div class="container">
        <header>
            <h1>Dodaj wydatek</h1>
        </header>
        <main>
            <form action="/submit_expense" method="post">
                <label for="name">Nazwa:</label>
                <input type="text" id="name" name="name" required><br><br>
                <label for="date">Data:</label>
                <input type="date" id="date" name="date" required><br><br>
                <label for="amount">Kwota:</label>
                <input type="text" id="amount" name="amount" required><br><br>
                <label for="category">Kategoria:</label>
                <select id="category" name="category" required>
                    <option value="" disabled selected>Wybierz kategorię</option>
                    {% for category in categories %}
                    <option value="{{ category }}">{{ category }}</option>
                    {% endfor %}
                </select><br><br>
                <label for="periodicity">Okresowość:</label>
                <select id="periodicity" name="periodicity">
                    <option value="" disabled selected>Wybierz okresowość</option>
                    {% for periodicity in periodicity_list %}
                    <option value="{{ periodicity }}">{{ periodicity }}</option>
                    {% endfor %}
                </select><br><br>
                <input type="submit" value="Dodaj">
            </form>
        </main>
    </div>
</body>
</html>