<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Expenses Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div id="container">
        <header>
            <h1>Smart Expenses Tracker - statistics</h1>
            <nav>
                <ul>
                    <li><a href="/" class="header-btn">Wydatki</a></li>
                    <li><a href="/stats" class="header-btn">Statystyki</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <h2>Statistics</h2>
        </main>
    </div>
</body>
</html>
