<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Expenses Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <header>
            <h1>Smart Expenses Tracker</h1>
            <nav>
                <ul>
                    <li><a href="/" class="header-btn">Wydatki</a></li>
                    <li><a href="/stats" class="header-btn">Statystyki</a></li>
                </ul>
            </nav>
        </header>
    <h1>Statistics</h1>

    {% if error_message %}
        <p>{{ error_message }}</p>
    {% else %}
        <div class="charts-container">
            <div class="chart">
                <img src="data:image/png;base64,{{ histogram_image_data }}" alt="Histogram">
            </div>
            <div class="chart">
                <img src="data:image/png;base64,{{ bar_chart_image_data }}" alt="Cumulative Bar Chart">
            </div>
            <div class="chart">
                <img src="data:image/png;base64,{{ pie_chart_image_data }}" alt="Pie Chart">
            </div>
        </div>
    {% endif %}
</body>
</html>
